
.tab{
	width:100%;
	padding: 0 5%
}
.tab1,.tab2{
	float: left
}
.tab1{
	width:10%;
	margin-right: 3%;
}
.tab2{
	width:85%;
}
.Tab-h2{
	text-align: center;
}
.Tab-box{
	width: 100%;
	padding:10px;
}
.Tab-box li{
	height: 50px;
	margin: 10px;
}
.Tab-box li img{
	width: 40px;
	height: 40px;
}
.Tab-box li span{
	display: block;
	width: 30%;
	float: left;
	text-align: center;
	line-height: 50px;
}
.Tab-box li span:nth-Child(1){
     /*text-align: left;*/
}
.Tab-box li:hover span{
       color: #00B4A5;
}
.tab-pane{
	
}
.Tab-paging{
	width: 1000px;
	margin: 0 auto;
	height: 100px;
	border: 1px solid #111;
}
.Tab-paging button{
	width: 20px;
	height: 20px;
	float: left;
}
.Tab-b2 h2 ,.Tab-b5 h2{
    text-align: center;
}
.Tab-box2 li span{
	display: block;
	width: 30%;
	float: left;
	text-align: center;
	line-height: 50px;
}
.Tab-box2 li:hover span{
       color: #00B4A5;
}
.nav-pills li{
	text-align: center;
	margin-top: 10px;
	border: 1px solid #111;
	border-radius: 5px;
}
.Tab-box2_p{
	width: 100%;
	height: 30px;
	background: #00B4A5;
}
.Tab-box2_p span{
    display: block;
	width: 30%;
	float: left;
	text-align: center;
	line-height: 30px;
}


