body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input
{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
*{
	border: 0;
}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
a{text-decoration:none;}

.clear {
	clear: both;
	zoom: 1;
	height: 0;
	font-size: 0;
	overflow: hidden;
}



/*头部*/
header{
	width: 100%;
	height: 80px;
	background: #6A7784;
}
.hea{
	margin: 0 50px;
	height: 40px;
	padding: 20px 0;

}
.logo{
	height: 34px;
	width: 142px;

}
.hea_btn{
	float: right;
	width: 300px;
	height: 34px;
}
.btn{
	width: 100px;
	height: 34px;
	border-radius: 5px;
    /*color: #fff;*/
}
.login{
   
}
.login:hover{
    background: #00B4A5;
}
.register{
   background: #00B4A5;
}


.hea_xm{
	width: 200px;
	height: 34px;
	float: right;
}
.hea_xm img{
	width: 50px;
	height: 34px;
}
.hea_xm span:nth-child(3){
   
   color:#00B4A5; 
}




/*底部*/
footer{
	
	padding: 20px 50px;
	background: #6A7784;
}
footer span{
	float: left;
	margin-left: 20px;
}
footer h2{
	height: 40px;
    line-height: 40px;
}


/*前台选项卡*/
