<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../public/javascripts/jquery-3.1.1.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../public/javascripts/js.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/clockingxg.css">
    <link rel="stylesheet" href="../public/stylesheets/animate.css">
</head>
<body>
<div class="box">
    <div class="box1">
        <div class="header">
            <div class="logo">
                <img src="../public/images/logo.png" alt="..." class="img-rounded">
            </div>
            <div class="login">
                欢迎您,<span>社板</span><span>退出登录</span>
            </div>
        </div>
    </div>
</div>
<p class="wenzi">修改新闻</p>
<div class="main animated bounceIn">
    <div class="main1">
        <form>
            <div class="form-group">
                <label for="chuqin">出勤天数</label>
                <input type="text" class="form-control" id="chuqin">
            </div>
            <div class="form-group">
                <label for="queqin">缺勤天数</label>
                <input type="text" class="form-control" id="queqin">
            </div>
            <div class="form-group">
                <label for="chidao">迟到天数</label>
                <input type="text" class="form-control" id="chidao">
            </div>
        </form>
        <div class="shangchuan">
            <button type="button" class="btn btn-primary btn-lg">修改</button>
        </div>
    </div>
</div>

</body>
</html>